



    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group">

            <!-- Odeljenja-->
            <div class="dropdown">
                <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-graduation-cap"></i> Odeljenja
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    @Html.ActionLink("Pregled odeljenja","Index","Odeljenje",null, new {@class="dropdown-item" })
                    @Html.ActionLink("Dodaj odeljenje","Create","Odeljenje",null, new {@class="dropdown-item"})
                </div>
            </div>


            <!--Predmeti-->
            <div class="dropdown">
                <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-book-open"></i> Predmeti
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    @Html.ActionLink("Pregled predmeta","Index","Predmet", null, new {@class="dropdown-item"})
                    @Html.ActionLink("Dodaj predmet","Create","Predmet",null, new {@class="dropdown-item" })
                </div>
            </div>


            <!--Moderatori-->
            <div class="dropdown">
                <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Moderatori
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    @Html.ActionLink("Pregled moderatora", "Show", "Moderator", null, new {@class="dropdown-item"})
                    @Html.ActionLink("Dodaj moderatora","Create","Moderator",null, new {@class="dropdown-item"})
                </div>
            </div>

            <!--Profesori-->
            <div class="dropdown">
                <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chalkboard-teacher"></i> Profesori
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    @Html.ActionLink("Pregled profesora", "Index", "Profesor", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Dodaj profesora","Create","Profesor", null, new { @class = "dropdown-item" })
                </div>
            </div>

            <!--Ucenici-->
            <div class="dropdown">
                <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-graduate"></i> Učenici
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    @Html.ActionLink("Pregled ucenika","Index","Ucenik", null, new { @class="dropdown-item"})
                    @Html.ActionLink("Dodaj ucenika","Create","Ucenik", null, new { @class="dropdown-item"})
                </div>
            </div>

            <!--Upis ocena-->
            <div class="dropdown">
                <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-award"></i> Ocene
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    @Html.ActionLink("Upiši ocene","Index","Dnevnik", null, new {@class="dropdown-item"})
                </div>
            </div>





        </div>
        <!-- list-group END -->
    </div>
    <!-- side-wrapper END -->

