@using HCPortal.Controllers
@model HCPortal.Models.ModeratorLOC


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1 class="text-center">Izmeni Moderatora</h1>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-6">

                @{
                    if (Session["rezultat_izmene"] != null)
                    {
                        string poruka = Session["rezultat_izmene"].ToString();

                        if (poruka == "prosao")
                        {
                            <div class="alert alert-success text-center" role="alert">
                                Uspesno izmenjen moderator
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger text-center" role="alert">
                                Nije moguce izmeniti moderatora
                            </div>
                        }

                        Session["rezultat_izmene"] = null;
                    }
                }
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-7 forma">

                @using (Html.BeginForm("Edit", "Moderator", FormMethod.Post, new { onsubmit = "return izmeni_moderatora()" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.sifra_moderatora)

                    <div class="form-group">
                        <h4>Ime</h4>
                        @Html.EditorFor(model => model.ime, new { htmlAttributes = new { @class = "form-control", id = "ime" } })
                    </div>

                    <div class="form-group">
                        <h4>Prezime</h4>
                        @Html.EditorFor(model => model.prezime, new { htmlAttributes = new { @class = "form-control", id = "prezime" } })
                    </div>

                    <div class="form-group">
                        <h4>Korisnicko ime</h4>
                        @Html.EditorFor(model => model.korisnicko_ime, new { htmlAttributes = new { @class = "form-control", id = "kor_ime" } })
                    </div>

                    <div class="form-group">
                        <h4>Datum rodjenja</h4>
                        @Html.EditorFor(model => model.datum_rodjenja, new { htmlAttributes = new { @class = "form-control", id = "datum_rodj" } })
                    </div>


                    <input type="submit" class="btn btn-primary float-right" value="Sacuvaj">
                    <br><br>
                }
            </div>
        </div>
    </div>
</div>

<script>

    function validacija(ime, prezime, korisnicko_ime, datum_rodj) {

        var rezultat = true;

        var test_ime_prezime = /^([a-zA-Z]{3,40})$/;
        var rez_ime = ime.match(test_ime_prezime);
        var rez_prezime = prezime.match(test_ime_prezime);


        var test_korisnicko_ime = /^([a-zA-Z]{3,30})(\d{2,4})$/;
        var rez_korisnicko_ime = korisnicko_ime.match(test_korisnicko_ime);

        var test_datum_rodj = /^([1-2][0-9]|[3][0-1]|[1-9]|[0][1-9])\/([0][1-9]|[1][0-2]|[1-9])\/([0-9]{4})$/;
        var rez_datum_rodj = datum_rodj.match(test_datum_rodj);


        if (rez_ime === null) {
            alert("Ime mora da sadrzi 3-40 karaktera");
            rezultat = false;
        }

        else if (rez_prezime === null) {
            alert("Prezime mora da sadrzi 3-40 karaktera");
            rezultat = false;
        }

        else if (rez_korisnicko_ime === null) {
            alert("Korisnicko ime mora da sadrzi 3-30 karaktera i da se zavrsava sa 2-4 cifre");
            rezultat = false;
        }
        else if (rez_datum_rodj === null) {
            alert("Datum rodjenja mora biti u formatu dd/mm/yyyy");
            rezultat = false;
        }

        return rezultat;
    }





    function izmeni_moderatora() {

        var ime = document.getElementById("ime").value;
        var prezime = document.getElementById("prezime").value;
        var korisnicko_ime = document.getElementById("kor_ime").value;
        var datum_rodj = document.getElementById("datum_rodj").value;

        var rez = validacija(ime, prezime, korisnicko_ime, datum_rodj);

        if (rez == true) {

            return true;
        }
        return false;
    }


</script>