@model IEnumerable<HCPortal.Models.UcenikLOC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}

<div class="col-lg-9">
    <h1 class="text-center">Pregled ucenika</h1>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <td>Id</td>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Korisnicko ime</td>
                <td>Datum rodjenja</td>
                <td>Odeljenje</td>
                <td>Razred</td>
                <td>Opcije</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var ucenik in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => ucenik.sifra_ucenika)</td>
                    <td>@Html.DisplayFor(model => ucenik.ime)</td>
                    <td>@Html.DisplayFor(model => ucenik.prezime)</td>
                    <td>@Html.DisplayFor(model => ucenik.korisnicko_ime)</td>
                    <td>@Html.DisplayFor(model => ucenik.datum_rodjenja)</td>
                    <td>@Html.DisplayFor(model => ucenik.odeljenje.naziv)</td>
                    <td>@Html.DisplayFor(model => ucenik.odeljenje.razred.naziv)</td>
                    <td>@Html.ActionLink("Izmeni","Edit","Ucenik",new { id = ucenik.sifra_ucenika}, new { @class= "btn btn-info"})</td>
                </tr>
            }
        </tbody>
    </table>
</div>

